.section10{
    width: 100%;
    padding: 0 110px;
}
.section10 .row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.section10 .row div{
    width: 30%;
    padding: 42px 40px 59px;
    background: #fff;
    border-radius: 2px;
    margin-top: -115px;
    padding-bottom: 60px;
}
.section10 .row div h2{
    font-weight: 600;
    font-size: 18px;
    color: #00927c;
    margin-bottom: 24px;
}
.section10 .row div p{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #7c8583;
    margin-bottom: 24px;
}
.section10 .row div a{
    width: 100%!important;
    font-weight: 500;
    font-size: 14px;
    float: left;
    width: 140px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #00927c;
    border-radius: 2px;
    text-transform: uppercase;
}
.section10 .row div a{
    cursor: pointer;
    background: #007664;
}
.section10 .row .column1>a{
    margin-top: 20px;
}
.section10 .row .column3>a{
    margin-top: -3px;
}
