.section9{
    width: 100%;
    padding: 0 110px;
}
.section9 .back{
    height: 87vh;
    background: url('https://d2w68ocb6l47bj.cloudfront.net/v20210412/_redesign/img/img_space_pic.webp') no-repeat;
}