.section4{
    padding: 77px 90px 55px 120px;
}
.section4 h2{
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #464d4b;
    width: 100%;
}
.section4 .all span{
    color: #aab2b1;
    font-weight: 300;
}
.section4 .all a{
    float: right;
    width: auto;
    color: #00927c;
    font-weight: 600;
    padding-right: 60px;
}
.section4 .boxes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.section4 .box{
    width: 30%;
    display: flex;
    border-radius: 2px;
    margin: 0 30px 27px 0;
}
.boxes .box .left{
    height: 150px;
    width: 170px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.boxes .box .left img{
    width: 100%;
    height: 100%;
}
.boxes .box .right{
    width: 50%;
    background-color: #EDF4F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
.box .hidden{
    display: none;
}
.boxes .box:hover{
    box-shadow: 0 4px 13px rgb(177, 175, 175);
}
.boxes .box:hover .hidden{
    display: block;
    transform: translateY(30%);
}
.boxes .box:hover .right{
    background-color: white;
}  
.boxes .box .right h4 a{
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #464c4b !important;
}  
.boxes .box .right>a{
    font-weight: 500;
    font-size: 15px;
    line-height: 29px;
    color: #00927c;
}
.boxes .box:hover .right h4,.boxes .box:hover .right a{
    transform: translateY(10%);
}
.box .right .hidden>a{
    font-weight: 500;
    font-size: 12px;
    line-height: 32px;
    color: #00c78a;
    margin-right: 6px;
}