{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'coworker.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'nav.html' %}
    {% include 'section7.globalpass.html' %}
    {% include 'section12.global.number.html' %}
    {% include 'section8.globalpass.html' %}
</body>
</html>