{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'section10.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="section10">
        <div class="row">
            <div class="column1">
                <h2>What is Coworking?</h2>
                <p>Coworking is short for collaborative working. It is an emerging style of working in an innovative environment, usually a shared work space, that is more flexible in its approach than traditional office environments. Coworking offers sharing of equipment, resources, ideas, and/or experiences among remote professionals. There are thousands of these shared office spaces, known as coworking spaces, in almost every country on Earth. The coworking model is unique in that workers can choose to remain independent and self-directed, but can often find more opportunities for socializing and networking among like-minded individuals.</p>
                <a href="#">Read More About Coworking</a>
            </div>
            <div class="column2">
                <h2>Benefits of Shared Work Spaces?</h2>
                <p>Recent surveys and research suggests people are more productive and creative when working from a coworking space. With reduced distractions, a collective mindset, and preferred on-site amenities all contributing to a collaborative work space, workers can typically work better and enjoy their work more in a coworking environment than other working arrangements.</p>
                <p>Smaller businesses and independent professionals find coworking provides affordable office space with important work necessities like high-speed internet, printers, and meeting rooms, resulting in lower startup costs.</p>
                <a href="#">More Coworking Advantages</a>
            </div>
            <div class="column3">
                <h2>Why Virtual Offices?</h2>
                <p>Coworker is a website where you can search, find, and in some cases, reserve shared work space rentals near you in many different countries all around the world. Coworking spaces list their shared office rental options on Coworker and outline what features and amenities their space can offer. Remote professionals and companies can then research and compare all of the different coworking spaces to find the one that will benefit their needs the most.</p>
                <p>Once you've found the shared office space that is best for you, you can enquire about booking, schedule a tour, and even buy a pass, depending on what the space allows.</p>
                <a href="#">More about virtual offices</a>
            </div>
        </div>
    </div>
</body>
</html>