{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'section8.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="section8">
        <div class="bg">
            <div class="text">
                <h2>What is Coworker?</h2>
                <p>Coworker is a website where you can search, find, and in some cases, reserve shared work space rentals near you in many different countries all around the world. Coworking spaces list their shared office rental options on Coworker and outline what features and amenities their space can offer.</p>
                <p>Remote professionals and companies can then research and compare all of the different coworking spaces to find the one that will benefit their needs the most.</p>
                <a href="#">Learn More About Coworker</a>
            </div>
        </div>
    </div>
</body>
</html>