{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'section11.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="section11">
        <div class="inner">
            <h2>Never Miss a Coworking Update</h2>
            <p>Register to receive exclusive offers, special member pricing, and updates on shared office space near you.</p>
            <div class="inp">
                <input type="text" placeholder="Enter email address..">
                <button>Sign me up!</button>
            </div>
        </div>
    </div>
</body>
</html>