{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'section7.globalpass.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="section7-global">
        <div class="row">
            <div class="left">
                <img src="{% static 'img/global.tel.png' %}" alt="">
            </div>
            <div class="right">
                <span>THOUSANDS OF SPACES. 115 COUNTRIES.</span>
                <h1>ONE PASS</h1>
                <h4>Starting from <span>$50</span></h4>
                <a href="#">Join Now</a>
            </div>
        </div>
    </div>
</body>
</html>