{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'section6.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="section6">
        <h2>Find Meeting Rooms Anywhere.</h2>
        <span>The World's Largest Network of Meeting Rooms</span>
        <div class="map">
            <div class="location1">
                <span>North America</span>
                <strong>3192 Spaces</strong>
            </div>
            <div class="location2">
                <span>Central America</span>
                <strong>122 Spaces</strong>
            </div>
            <div class="location3">
                <span>South  America</span>
                <strong>875 Spaces</strong>
            </div>
            <div class="location4">
                <span>Europe</span>
                <strong>4301 Spaces</strong>
            </div>
            <div class="location5">
                <span>Middle East</span>
                <strong>840 Spaces</strong>
            </div>
            <div class="location6">
                <span>Africa</span>
                <strong>673 Spaces</strong>
            </div>
            <div class="location7">
                <span>Asia</span>
                <strong>4289 Spaces</strong>
            </div>
            <div class="location8">
                <span>Oceania</span>
                <strong>483 Spaces</strong>
            </div>
            
        </div>
    </div>
</body>
</html>