{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'section3.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="section3">
        <div class="left">
            <span>Coworker Procurement Services </span>
            <h3>Let Us Build A Workspace Solution For Your Unique Requirements.</h3>
            <p>Over 6 million professionals and businesses have used Coworker to find coworking space that fits their unique needs.</p>
            <a href="#">Post Your Requirements</a>
        </div>
        <div class="right">
            <h3>We've helped these great companies</h3>
            <div class="row">
                <a href="https://www.google.com" target="_blank">
                    <img src="https://d2w68ocb6l47bj.cloudfront.net/v20210412/_redesign/img/img_coworker-trusted01.png" alt="">
                </a>
                <a href="https://www.airbnb.com" target="_blank">
                    <img src="https://d2w68ocb6l47bj.cloudfront.net/v20210412/_redesign/img/img_coworker-trusted02.png" alt="">
                </a>
                <a href="https://www.pfizer.com" target="_blank">
                    <img src="https://d2w68ocb6l47bj.cloudfront.net/v20210412/_redesign/img/img_coworker-trusted03.png" alt="">
                </a>
            </div>
            <div class="row">
                <a href="https://www.spotify.com" target="_blank">
                    <img src="https://d2w68ocb6l47bj.cloudfront.net/v20210412/_redesign/img/img_coworker-trusted04.png" alt="">
                </a>
                <a href="https://www.tesla.com" target="_blank">
                    <img src="https://d2w68ocb6l47bj.cloudfront.net/v20210412/_redesign/img/img_coworker-trusted05.png" alt="">
                </a>
                <a href="https://www.uber.com" target="_blank">
                    <img src="https://d2w68ocb6l47bj.cloudfront.net/v20210412/_redesign/img/img_coworker-trusted06.png" alt="">
                </a>
            </div>
        </div>
    </div>
</body>
</html>