{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'section4.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="section4">
        <h2>Top Coworking Cities</h2>
        <div class="all">
            <span>Search for coworking spaces in our most popular cities</span>
            <a href="https://www.coworker.com/" target="_blank">
                Search all cities
                <img src="https://d2w68ocb6l47bj.cloudfront.net/v20210412/_redesign/img/img_green_arrow.svg" alt="">
            </a>
        </div>
        <div class="boxes">
            <div class="box" id="box">
                <div class="left">
                    <img src="https://coworker.imgix.net/pictures%2FC70%2Fedit%2Fcoworking_london.jpg?w=850&h=550&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                </div>
                <div class="right">
                    <h4>
                        <a href="#">London</a>
                    </h4>
                    <a href="">330 Spaces</a>
                    <div class="hidden">
                        <a href="#">Offices</a>
                        <a href="#">Desks</a>
                        <a href="#">Meetings Rooms</a>
                    </div>
                
                </div>
            </div>
            <div class="box" id="box">
                <div class="left">
                    <img src="
                    https://coworker.imgix.net/pictures%2FC26%2Fedit%2Findia-default.jpg?w=850&h=550&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                </div>
                <div class="right">
                    <h4>
                        <a href="#">Bengaluru</a>
                    </h4>
                    <a href="">277 Spaces</a>
                    <div class="hidden">
                        <a href="#">Offices</a>
                        <a href="#">Desks</a>
                        <a href="#">Meetings Rooms</a>
                    </div>
                
                </div>
            </div>
            <div class="box" id="box">
                <div class="left">
                    <img src="https://coworker.imgix.net/photos-cities%2F104%2FNYC_City_Coworking.jpg?w=850&h=550&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                </div>
                <div class="right">
                    <h4>
                        <a href="#">NYC</a>
                    </h4>
                    <a href="">240 Spaces</a>
                    <div class="hidden">
                        <a href="#">Offices</a>
                        <a href="#">Desks</a>
                        <a href="#">Meetings Rooms</a>
                    </div>
                
                </div>
            </div><div class="box" id="box">
                <div class="left">
                    <img src="
                    https://coworker.imgix.net/pictures%2FC44%2Fedit%2Fjapan-1-resize.jpg?w=850&h=550&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                </div>
                <div class="right">
                    <h4>
                        <a href="#">Tokyo</a>
                    </h4>
                    <a href="">175 Spaces</a>
                    <div class="hidden">
                        <a href="#">Offices</a>
                        <a href="#">Desks</a>
                        <a href="#">Meetings Rooms</a>
                    </div>
                
                </div>
            </div><div class="box" id="box">
                <div class="left">
                    <img src="https://coworker.imgix.net/pictures%2FC1%2Fedit%2Fhongkong.jpeg?w=850&h=550&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                </div>
                <div class="right">
                    <h4>
                        <a href="#">Hong Kong</a>
                    </h4>
                    <a href="">172 Spaces</a>
                    <div class="hidden">
                        <a href="#">Offices</a>
                        <a href="#">Desks</a>
                        <a href="#">Meetings Rooms</a>
                    </div>
                
                </div>
            </div><div class="box" id="box">
                <div class="left">
                    <img src="https://coworker.imgix.net/pictures%2FC59%2Fedit%2Fsao-paulo-resize.jpg?w=850&h=550&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                </div>
                <div class="right">
                    <h4>
                        <a href="#">Sao Paulo</a>
                    </h4>
                    <a href="">139 Spaces</a>
                    <div class="hidden">
                        <a href="#">Offices</a>
                        <a href="#">Desks</a>
                        <a href="#">Meetings Rooms</a>
                    </div>
                
                </div>
            </div><div class="box" id="box">
                <div class="left">
                    <img src="https://coworker.imgix.net/pictures%2FC146%2Fedit%2Fbarcelona-resize.jpg?w=850&h=550&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                </div>
                <div class="right">
                    <h4>
                        <a href="#">Barcelona</a>
                    </h4>
                    <a href="">138 Spaces</a>
                    <div class="hidden">
                        <a href="#">Offices</a>
                        <a href="#">Desks</a>
                        <a href="#">Meetings Rooms</a>
                    </div>
                
                </div>
            </div><div class="box" id="box">
                <div class="left">
                    <img src="https://coworker.imgix.net/pictures%2FC94%2Fedit%2Fmexico-city-resize.jpg?w=850&h=550&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                </div>
                <div class="right">
                    <h4>
                        <a href="#">Mexico City</a>
                    </h4>
                    <a href="">137 Spaces</a>
                    <div class="hidden">
                        <a href="#">Offices</a>
                        <a href="#">Desks</a>
                        <a href="#">Meetings Rooms</a>
                    </div>
                
                </div>
            </div><div class="box" id="box">
                <div class="left">
                    <img src="https://coworker.imgix.net/pictures%2FC196%2Fedit%2Fmelbourne-resize.jpg?w=850&h=550&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                </div>
                <div class="right">
                    <h4>
                        <a href="#">Melbourne</a>
                    </h4>
                    <a href="">127 Spaces</a>
                    <div class="hidden">
                        <a href="#">Offices</a>
                        <a href="#">Desks</a>
                        <a href="#">Meetings Rooms</a>
                    </div>
                
                </div>
            </div><div class="box" id="box">
                <div class="left">
                    <img src="https://coworker.imgix.net/pictures%2FC8%2Fedit%2Fbangkok1.jpg?w=850&h=550&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                </div>
                <div class="right">
                    <h4>
                        <a href="#">Bangkok</a>
                    </h4>
                    <a href="">119 Spaces</a>
                    <div class="hidden">
                        <a href="#">Offices</a>
                        <a href="#">Desks</a>
                        <a href="#">Meetings Rooms</a>
                    </div>
                
                </div>
            </div><div class="box" id="box">
                <div class="left">
                    <img src="https://coworker.imgix.net/pictures%2FC48%2Fedit%2Fjakarta-coworking.jpeg?w=850&h=550&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                </div>
                <div class="right">
                    <h4>
                        <a href="#">Jakarta</a>
                    </h4>
                    <a href="">105 Spaces</a>
                    <div class="hidden">
                        <a href="#">Offices</a>
                        <a href="#">Desks</a>
                        <a href="#">Meetings Rooms</a>
                    </div>
                
                </div>
            </div><div class="box" id="box">
                <div class="left">
                    <img src="https://coworker.imgix.net/pictures%2FC181%2Fedit%2Faustralia-resize.jpg?w=850&h=550&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                </div>
                <div class="right">
                    <h4>
                        <a href="#">Sydney</a>
                    </h4>
                    <a href="">94 Spaces</a>
                    <div class="hidden">
                        <a href="#">Offices</a>
                        <a href="#">Desks</a>
                        <a href="#">Meetings Rooms</a>
                    </div>
                
                </div>
            </div><div class="box" id="box">
                <div class="left">
                    <img src="https://coworker.imgix.net/pictures%2FC97%2Fedit%2Fmunich-resize.jpg?w=850&h=550&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                </div>
                <div class="right">
                    <h4>
                        <a href="#">Munich</a>
                    </h4>
                    <a href="">88 Spaces</a>
                    <div class="hidden">
                        <a href="#">Offices</a>
                        <a href="#">Desks</a>
                        <a href="#">Meetings Rooms</a>
                    </div>
                
                </div>
            </div><div class="box" id="box">
                <div class="left">
                    <img src="https://coworker.imgix.net/photos-cities%2F274%2FLagos_Nigeria_Coworking.jpg?w=850&h=550&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                </div>
                <div class="right">
                    <h4>
                        <a href="#">Lagos</a>
                    </h4>
                    <a href="">75 Spaces</a>
                    <div class="hidden">
                        <a href="#">Offices</a>
                        <a href="#">Desks</a>
                        <a href="#">Meetings Rooms</a>
                    </div>
                
                </div>
            </div><div class="box" id="box">
                <div class="left">
                    <img src="https://coworker.imgix.net/pictures%2FC155%2Fedit%2Fbristol-resize.jpg?w=850&h=550&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                </div>
                <div class="right">
                    <h4>
                        <a href="#">Bristol</a>
                    </h4>
                    <a href="">28 Spaces</a>
                    <div class="hidden">
                        <a href="#">Offices</a>
                        <a href="#">Desks</a>
                        <a href="#">Meetings Rooms</a>
                    </div>
                
                </div>
            </div><div class="box" id="box">
                <div class="left">
                    <img src="https://coworker.imgix.net/pictures%2FC490%2Fedit%2FOttawa+resize.jpg?w=850&h=550&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                </div>
                <div class="right">
                    <h4>
                        <a href="#">Ottawa</a>
                    </h4>
                    <a href="">24 Spaces</a>
                    <div class="hidden">
                        <a href="#">Offices</a>
                        <a href="#">Desks</a>
                        <a href="#">Meetings Rooms</a>
                    </div>
                
                </div>
            </div>

        </div>
    </div>

</body>
</html>