{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'section5.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="section5">
        <h2>Newest Flexible Office Spaces</h2>
        <div class="row">
            <div class="zoom">
                <div class="image">
                    <a href="#">
                        <img src="https://coworker.imgix.net/photos/united-kingdom/bristol/flagship-spaces/main.jpg?w=400&h=266&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                        <span>Flagship Spaces</span>
                    </a>
                </div>
                <div class="text">
                    <div>
                        <h4>Bristol,</h4>
                        <span>United Kingdom</span>
                    </div>
                    <a href="#">
                        View Now
                        <img src="https://d2w68ocb6l47bj.cloudfront.net/v20210412/_redesign/img/img_green_arrow.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="zoom">
                <div class="image">
                    <a href="#">
                        <img src="https://coworker.imgix.net/photos/mexico/merida/terraza-60/main.jpeg?w=400&h=266&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                        <span>Terraza 60</span>
                    </a>
                </div>
                <div class="text">
                    <div>
                        <h4>Merida,</h4>
                        <span>Mexico</span>
                    </div>
                    <a href="#">
                        View Now
                        <img src="https://d2w68ocb6l47bj.cloudfront.net/v20210412/_redesign/img/img_green_arrow.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="zoom">
                <div class="image">
                    <a href="#">
                        <img src="https://coworker.imgix.net/photos/united-states/california/thousand-oaks/officelocale-coworking-spaces-business-center/main.jpg?w=400&h=266&q=90&auto=format,compress&fit=crop&mark=/template/img/wm_icon.png&markscale=5&markalign=center,middle" alt="">
                        <span>officeLOCALE Coworking Spaces & Business Center</span>
                    </a>
                </div>
                <div class="text">
                    <div>
                        <h4>Thousand Oaks,</h4>
                        <span>United States</span>
                    </div>
                    <a href="#">
                        View Now
                        <img src="https://d2w68ocb6l47bj.cloudfront.net/v20210412/_redesign/img/img_green_arrow.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>