{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'section7.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="section7">
        <div class="left">
            <img src="https://d2w68ocb6l47bj.cloudfront.net/v20210412/_redesign/img/img_one_pass_mobile.png" alt="">
        </div>
        <div class="right">
            <span>Thousands of spaces, over 100 countries</span>
            <h3>ONE PASS</h3>
            <h4>Starting from $50/month</h4>
            <p>Every space in the Global Pass network offers a productive workspace, fast Wi-Fi, and easy-to-access amenities. Global Pass is the most affordable and frictionless way to work, no matter where your journey takes you.</p>
            <a href="#">Join Now</a>
        </div>
    </div>
</body>
</html>