{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'section6.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="section6">
        <h2>Shared Office Space around the world</h2>
        <span>View all the cities with shared office space on Coworker</span>
        <div class="map">
            <div class="location">
                <span>Antarctica</span>
                <strong>2320 Spaces</strong>
            </div>
            <div class="location1">
                <span>North America</span>
                <strong>4790 Spaces</strong>
            </div>
            <div class="location2">
                <span>Central America</span>
                <strong>144 Spaces</strong>
            </div>
            <div class="location3">
                <span>South  America</span>
                <strong>1031 Spaces</strong>
            </div>
            <div class="location4">
                <span>Europe</span>
                <strong>5854 Spaces</strong>
            </div>
            <div class="location5">
                <span>Middle East</span>
                <strong>520 Spaces</strong>
            </div>
            <div class="location6">
                <span>Africa</span>
                <strong>858 Spaces</strong>
            </div>
            <div class="location7">
                <span>Asia</span>
                <strong>5177 Spaces</strong>
            </div>
            <div class="location8">
                <span>Oceania</span>
                <strong>597 Spaces</strong>
            </div>
            
        </div>
    </div>
</body>
</html>